.popover-items {
  width: 100%;
  height: 40px;
  padding-left: 10%;
  line-height: 40px;
  cursor: pointer;
  text-decoration: none;
  color: #002233;
  user-select: none;
}
&:hover {
  background-color: rgba(0, 158, 235, 0.09);
  color: #009eeb;
}
